@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Brygada+1918:wght@400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Inter:wght@100;200&family=Lato:ital,wght@0,300;0,400;1,300&family=Open+Sans:wght@300;400&family=Poppins:wght@200;400;500&family=Raleway:ital,wght@0,100;0,200;1,100&family=Redressed&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,200&family=Roboto:wght@100;300;400;500&family=Ropa+Sans:ital@0;1&family=Vollkorn:ital,wght@0,600;0,700;1,500;1,600&family=WindSong:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Gallery{
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
}

.Gallery .H1{
    color: #0282F9;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: .9;
    margin: 0;
    padding: 5rem 0;
    font-weight: 550;
}

.H1 span{
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
}

.Grid-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(350px, 1fr);
    gap: 1rem;
}

.Grid-gallery div{
    background: #0282F9;
}

@media (max-width:960px){
    .Gallery .H1{
        font-size: 3rem;
        z-index: 100;
    }
    .H1 span{
        font-size: 2rem;
        z-index: 100;
    }
}

@media (max-width:760px){
    .Gallery .H1{
        font-size: 2rem;
    }
    .H1 span{
        font-size: 1.25rem;
    }
}
